Source: mauikit-accounts
Section: lib
Priority: optional
Build-Depends: cmake,
               debhelper-compat (= 12),
               extra-cmake-modules,
               libkf5config-dev,
               libkf5coreaddons-dev,
               libkf5i18n-dev,
               libkf5kio-dev,
               mauikit-dev,
               qtbase5-dev,
               qtdeclarative5-dev
Standards-Version: 4.2.1
Homepage: https://mauikit.org/
Vcs-Git: https://invent.kde.org/neon/neon-packaging/mauikit-accounts.git
Vcs-Browser: https://invent.kde.org/neon/neon-packaging/mauikit-accounts
Maintainer: Neon CI <neon@kde.org>

Package: qml-module-org-mauikit-accounts
Architecture: any
Depends: libmauikit,
         libmauikitaccounts1,
         qml-module-org-kde-kirigami2,
         qml-module-org-kde-mauikit,
         qml-module-qtquick-controls2,
         qml-module-qtquick-shapes,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MauiKit Utilities to Handle User Accounts
 MauiKit utilities to handle User Accounts
 .
 This package contains the mauikit accounts qml module.

Package: libmauikitaccounts1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: MauiKit Utilities to Handle User Accounts
 MauiKit utilities to handle User Accounts
 .
 This package contains the mauikit accounts library.

Package: libmauikitaccounts-dev
Architecture: any
Depends: libmauikitaccounts1 (= ${binary:Version}),
         qml-module-org-mauikit-accounts,
         qtbase5-dev,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MauiKit Utilities to Handle User Accounts
 MauiKit utilities to handle User Accounts
 .
 This package contains mauikit accounts development files.
